/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root{
  --primary: #8739f9;
}

body{
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header{
  background: #fff;
  
}

.navlink{
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
}

header .container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

pages{
  max-width: 1400px;
  padding: 20px;
  margin: 20 auto;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
  background: var(--primary);
  color: white;
  padding: 10px;
  border-radius: 4px;
}

form {
  max-width: 400px;
  background: #fff;
  margin: 40px auto;
  padding: 40px;
  border-radius: 4px;
}

.product-card{
  background: #fff;
  padding: 14px;
  border-radius: 4px;
  max-width: 150px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  margin: 20px;
}

.product-list-link{
  text-decoration: none;
  padding: 10px;
  margin:  20px;

}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-top: 20px;
  border-radius: 25px;
}

table th,
table td {
  padding: 10px;
}

table th {
  background-color: var(--primary);
  color: #fff;
  text-align: left;
}

table td {
  text-align: center;
}

.delete-btn{
  text-decoration: underline;
  cursor: pointer;
} 
.edit-btn{
  text-decoration: underline;
  cursor: pointer;
}

.cart-ops{
  cursor: pointer;
  margin: 10px;
}

.filterBar{
  background: #fff;
  max-width: 960px;
  margin: 10px auto;
  padding: 5px 20px;
  border-radius: 10px;
  display: flex;
}

select{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.array{
  background: #fff;
  padding: 20px;
  max-width: 700px;
  margin: 30px auto ;
 text-align: center;
}